@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Poppins&display=swap");

.navbar {
  min-width: 100% !important;
}

.container-fluid > a:first-child {
  font-family: "Architects Daughter";
  font-weight: 400;
}

.container {
  width: 63.5vw;
}

@media (max-width: 992px) {
  .container {
    width: 95vw;
  }

  .collapsing,
  .show {
    position: absolute;
    width: 100%;
    top: 100%;
    right: 0;
  }
  .collapsing > ul,
  .show > ul {
    padding-right: 1rem !important;
    padding-bottom: 1rem;
  }
}
