<nav
  class="bg-primary navbar navbar-expand-lg navbar-dark nav-fill position-relative"
>
  <div class="container d-flex px-0">
    <a class="navbar-brand fs-4" routerLink="/">
      <img
        src="assets/images/logo.png"
        alt="Logo"
        width="56"
        height="56"
        class="d-inline-block align-text-mid me-3"
      />
      Brainiacs
    </a>
    <div class="text-end">
      <button
        class="navbar-toggler fs-2"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse fs-5 bg-primary align-items-end"
        id="navbarNav"
      >
        <ul class="navbar-nav d-flex align-items-end container w-100 pe-0">
          <li class="nav-item">
            <a
              class="nav-link me-1"
              aria-current="page"
              routerLink="/"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link me-1"
              routerLink="/smart-guys"
              routerLinkActive="active"
              >List of smart guys</a
            >
          </li>

          <li class="nav-item">
            <a
              class="nav-link disabled me-1"
              href="#"
              tabindex="-1"
              aria-disabled="true"
              >Help</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
