.show {
  display: flex !important;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.modal-footer {
  margin-right: -1rem;
  margin-left: -1rem;
}

.btn:hover {
  filter: brightness(150%);
}
