<div>
  <div
    class="container mb-3 mt-5 d-flex justify-content-between align-items-center"
  >
    <div class="fs-3">
      <fa-icon [icon]="faUserGroup"></fa-icon> List of smart guys
    </div>
    <button (click)="showModal = true" class="btn btn-primary fs-6 py-1">
      <fa-icon [icon]="faPlus" class="pe-2"> </fa-icon> Add brainiac
    </button>
  </div>

  <table class="container table table-striped mx-auto">
    <thead>
      <tr class="bg-secondary">
        <th scope="col" class="text-center">Id</th>
        <th scope="col"></th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">E-mail</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <!-- Komponent z wierszem tabeli -->
      <tr
        *ngFor="let user of users"
        app-user-row
        [user]="user"
        (edit)="onShowEditModal($event)"
        (delete)="onShowDeleteModal($event)"
        class="align-middle"
      ></tr>
    </tbody>
  </table>

  <!-- Modal z formularzem edycji -->
  <app-user-form
    *ngIf="showModal"
    [user]="userToEdit"
    (userAdded)="onUserAdded($event)"
    (userUpdated)="onUserUpdated($event)"
    (cancelled)="onHideEditModal()"
  ></app-user-form>

  <!-- Modal potwierdzenia usunięcia -->
  <app-delete-modal
    *ngIf="userToDelete"
    [userToDelete]="userToDelete"
    (deleted)="onUserDeleted()"
    (cancelled)="onHideDeleteModal()"
  ></app-delete-modal>
</div>
