/* You can add global styles to this file, and also import other style files */
$primary: #44001a;
$secondary: #b15b5b;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap";

body {
  font-family: "Lato";
  font-size: 18px;
  font-weight: 400;
}
